*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgba(198, 221, 228, 1);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    font-size: 40px;
    color: rgba(28, 166, 244, 1);
    text-align: center;
    margin-top: 150px;
    text-shadow: 2px 2px #242121;
}

p {
    font-size: 30px;
    color: rgba(25, 3, 3, 1);
    text-align: center;
    text-shadow: 2px 2px #4db4bd;
}

h3{
    font-size: 25px;
    color: black;
}
.col-md-5{
    margin-top: 80px;
    box-shadow: -1px 1px 60px 10px black;
    background-color:white;
    height: 100%;
    border-radius: 10px;
}

.label{
    font-weight: normal;
    margin-top: 15px;
    color: black;
    font-size: 19px;
}

.form-control{
    background-color:  white;
    border-radius: 0px;
    border: 0px;
    border-bottom: 1px solid black;
    font-size: 18px;
    margin-top: 15px;
    height: 40px;
    color: black;
}

.btn-info{
    margin-top: 20px;
    font-size: 18px;
    width: 120px;
    float: right;
    margin-bottom: 20px;
    font-weight: bold;
}

.footer{
    background-color: rgba(34, 69, 135, 1);
    position: absolute;
    bottom: 0;
    width: 100.6%;
    height: 2.5rem; 
}
.footer-text{
  color: rgba(255, 255, 255, 1);
  position: absolute;
  font-size: 20px;
  font-style: italic;
  text-align: center;
  font-family: Inter;
}
